@* <meta charset="utf-8"> FOR ECLIPSE CHARSET DETECTION *@
@(title: String,header: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <title>@title</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="@routes.Assets.versioned("images/favicon.ico")">
    </head>
    <body>
    <div class="jumbotron">
    <div class="container-fluid">
    <div class="top">
    <h1>@header</h1>
    </div>
    </div>
    </div>
        @content
    </body>
</html>
