@* <meta charset="utf-8"> FOR ECLIPSE CHARSET DETECTION *@
@(message: String,header: String)
@main(message,header) {
<div class="container">
<form action = '#' method =  'post' class="form-signin">
	<div class="form-group">
		<label for="inputName">이름:</label>
			<input type="text" id="inputName" class="form-control" placeholder="이름" required autofocus>
		<label for="inputEmail">이메일:</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="이메일" required>
		<label for="inputPass">비번:</label>
			<input type="password" id="inputPass" class="form-control" placeholder="비번">
		<label for="inputPassOnemore">비번(확인):</label>
			<input type="password" id="inputPassOnemore" class="form-control" placeholder="비번(확인)">
		<br>
		<button class="btn btn-info btn-block" type="submit">등록</button>
		
	</div>
</form>
</div>
}